<section class="align-content-center align-items-center height">
  <div class="container teacher-list">
    <div class="row">
      <div class="col-lg-12">
        <div class="e-card playing">
          <div class="wave"></div>
          <div class="wave"></div>
          <div class="wave"></div>
    
          <div class="rate align-items-center">
            <span class="text-muted size">{{teacherDetail.average_rate}}</span>
            
            <span *ngFor="let star of stars; let i = index" 
                  [ngClass]="{'filled': i < teacherDetail.average_rate}">
              ★
            </span>
           
            
          </div>
          <div class="card-image">
            <img *ngIf="teacherDetail.image" [src]="teacherDetail.image" alt="{{teacherDetail.last_name }}" class="img-fluid">
          </div>
  
          <div class="card-content d-flex flex-column justify-content-center align-content-center  ">
            <h3 class="fw-bold mb-lg-4 fs-1 pool-name ">نام مربی :{{teacherDetail.first_name}}&nbsp;{{teacherDetail.last_name}}</h3>
            <div class=" d-flex justify-content-between align-content-center flex-column">
              <div *ngIf="loggedIn">
                <p *ngIf="userPreviousRate !== null" class="fs-5 fw-bold">
                  رای قبلی شما به این مربی: {{ userPreviousRate }} ستاره
                  <br>
                </p>
                <p *ngIf="userPreviousRate === null" class="fs-5 fw-bold">
                  شما تا به حال رایی برای این مربی ثبت نکرده اید
                </p>
              </div>
              <div class="rating" *ngIf="loggedIn">
                <i *ngFor="let star of stars; let i = index" 
                   [class.filled]="i < selectedRating" 
                   [class.hovered]="i <= hoveredRating" 
                   (mouseover)="hoveredRating = i" 
                   (mouseleave)="hoveredRating = -1" 
                   (click)="rateTeacher(stars.length - i)"
                   class="bi bi-star-fill mx-3"></i>
              </div>
            </div>
            
  
            <button (click)="submitRating()" [disabled]="!loggedIn  " [ngClass]="{'mb-3' : userStatus =='teacher'}" class="btn btn-login w-100 fs-5 mt-2 fw-bold">
              ثبت رای
            </button>

            <button (click)="requestPrivateClass()"*ngIf="userStatus != 'teacher' "  class="btn btn-request w-100 fs-5 fw-bold mb-2">درخواست کلاس خصوصی</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<app-teacher-comment></app-teacher-comment>