<section >
  <div class="container about-container text-center">
    <div class="row align-items-center">
      <div class="col-md-6 text-md-center about-image" >
        <img src="../../../assets/images/man-jumpinhg-into-pool.jpg" alt="درباره ما" class="img-fluid about-image" 
        >
      </div>
      <div class="col-md-6 text-md-start">
        
        <h2 class="mb-4 section-title fw-bold">درباره ما</h2>
        <p class="mb-4 section-subtitle">قهرمان امروز – جایی که رویاها به حرکت درمی‌آیند</p>
        <p class="section-text">
          اینجا در باشگاه ورزشی قهرمان امروز، ما فقط ورزش نمی‌کنیم، بلکه برای ساختن قهرمان‌ها قدم برمی‌داریم. از اعماق آب‌های استخر تا هیجان فوتسال، از پروازهای والیبال تا نبردهای پرشور هندبال، هر لحظه در اینجا تپشی از انگیزه، تلاش و افتخار است.

ما در قلب مشهد، جایی که عزم و اراده با تلاش و تمرین گره می‌خورد، با مربیان مجرب و امکانات حرفه‌ای، مسیر قهرمانی را هموار می‌کنیم. اینجا، هر حرکت یک قدم به سوی افتخار است، هر تمرین پلی برای رسیدن به اوج، و هر نفس، یادآور این است که شما قهرمان امروزید.

پس آماده‌اید؟ زمان آن رسیده که به زمین بیایید، بپرید، بدوید، بزنید و بدرخشید! قهرمانی از همین‌جا آغاز می‌شود…
        </p>
        
      </div>
    </div>
  </div>
</section>