<section>
    <div class="teacher-list ">
        <h2 class="title">سوالات متداول</h2>

        <details open>
            <summary>لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ است؟</summary>
            <div>
                لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است.
            </div>
        </details>

        <details>
            <summary>چگونه می‌توانم از این سیستم استفاده کنم؟</summary>
            <div>
                شما می‌توانید از طریق راهنمای کاربری که در بخش مستندات قرار دارد، نحوه استفاده را یاد بگیرید.
            </div>
        </details>

        <details>
            <summary>آیا این سرویس رایگان است؟</summary>
            <div>
                بله، این سرویس کاملاً رایگان بوده و شما می‌توانید بدون پرداخت هزینه از آن بهره ببرید.
            </div>
        </details>

        <details>
            <summary>چگونه می‌توانم با پشتیبانی تماس بگیرم؟</summary>
            <div>
                از طریق فرم تماس در سایت یا ایمیل رسمی ما، می‌توانید با تیم پشتیبانی ارتباط بگیرید.
            </div>
        </details>
    </div>
</section>