<section>
    <div class="teacher-list">
        <h2 class="title">سوالات متداول</h2>

        <details open>
            <summary><h4 class="d-inline-block">  ثبت نام کلاس عمومی و نیمه خصوصی؟</h4></summary>
            <div>
                <p class="fs-5">
                    برای <strong>ثبت‌نام در کلاس‌های شنا</strong>، ابتدا در <strong>وب‌سایت</strong> ما ثبت‌نام کنید، سپس وارد صفحه <strong>استخرها</strong> شوید.
                    توجه داشته باشید که در این بخش، فقط استخرهای تحت <strong>آکادمی شنا</strong> ما نمایش داده می‌شوند.
                </p>
                <p class="fs-5">
                    بعد از انتخاب استخر مورد نظر، روی گزینه <strong>مشاهده دوره‌ها</strong> کلیک کنید. در این صفحه، لیست کامل <strong>دوره‌های آموزشی</strong> و <strong>هزینه کلاس‌ها</strong> را خواهید دید.
                </p>
                <p class="fs-5">
                    در صورتی که سطح مهارت فرزند شما با دوره‌ها همخوانی نداشته باشد، <strong>مربیان حرفه‌ای</strong> ما با انجام <strong>ارزیابی سطح</strong>، او را در کلاس مناسب ثبت‌نام خواهند کرد.
                </p>
            </div>
        </details>

        <details>
            <summary><h4 class="d-inline-block">ثبت نام  کلاس خصوصی؟</h4></summary>
            <div>
                  <p class="fs-5">
                    ما دو روش برای <strong>درخواست کلاس خصوصی</strong> فراهم کرده‌ایم:
                  </p>
                  
                  <h3>روش اول:</h3>
                  <p class="fs-5">
                    از طریق <strong>نوار بالا</strong> روی گزینه <strong>دوره‌ها</strong> کلیک کنید و سپس گزینه <strong>درخواست کلاس خصوصی</strong> را انتخاب کنید.  
                    در این بخش، می‌توانید <strong>مربی مورد نظر</strong>، <strong>استخر دلخواه</strong> و <strong>تعداد شرکت‌کنندگان</strong> (حداکثر ۳ نفر) را تعیین کنید و درخواست خود را ارسال نمایید.  
                  </p>
                  <p class="fs-5">
                    <strong>توجه:</strong> لطفاً در قسمت <strong>پیام</strong> شرایط خود را به طور کامل توضیح دهید تا مربیان بتوانند بهترین برنامه را برای شما تنظیم کنند.
                  </p>
                  
                  <h3>روش دوم:</h3>
                  <p class="fs-5">
                    هنگام <strong>امتیازدهی به مربیان</strong>، می‌توانید روی گزینه <strong>ثبت درخواست</strong> کلیک کرده و مستقیماً به همان مربی پیام ارسال کنید.
                  </p>
            </div>
        </details>

        <details>
            <summary><h4 class="d-inline-block">چگونه می‌توانم ترس از آب را کنار بگذارم؟</h4></summary>
            <div>
                <p>
                    برای کنار گذاشتن ترس از آب، پیشنهاد می‌کنیم که از محیط‌های کم عمق شروع کنید و به تدریج به عمق‌های بیشتر بروید. ابتدا ممکن است با نشستن کنار استخر یا خیس کردن دست‌هایتان شروع کنید. انجام تمرینات تنفس و آرامش‌بخش نیز می‌تواند به کاهش استرس و ترس کمک کند. صبر و استمرار در این مسیر مهم‌ترین بخش است. همچنین، اگر ترس شدید باشد، ممکن است نیاز به <strong>کلاس‌های خصوصی شنا</strong> باشد که به شما کمک می‌کنند تا با تکنیک‌های خاص اعتماد به نفس بیشتری پیدا کنید.
                </p>
            </div>
            
        </details>
        <details>
            <summary><h4 class="d-inline-block">چقدر طول می‌کشد تا بتوانم بدون کمک شنا کنم؟</h4></summary>
            <div>
                <p>
                    مدت زمان لازم برای یادگیری شنا بدون کمک، به سن، آمادگی جسمانی، میزان تمرین و ترس از آب بستگی دارد. برخی از افراد ممکن است در چند هفته مهارت‌های اولیه را یاد بگیرند، در حالی که برای برخی دیگر این فرآیند ممکن است چند ماه طول بکشد. شرکت در <strong>کلاس‌های آموزشی منظم</strong> و تمرین مستمر می‌تواند این زمان را کوتاه‌تر کند.
                </p>
            </div>
        </details>


        <details>
            <summary><h4 class="d-inline-block">چگونه می‌توانم با پشتیبانی تماس بگیرم؟</h4></summary>
            <div>
                <p>
                    در قسمت پااین سایت , <strong>فوتر سایت</strong> میتوانید در کانال ها و خود ما در ارتباط باشید
                </p>
            </div>
        </details>
    </div>
</section>