<nav class="navbar navbar-expand-lg fixed-top">
  <div class="container-fluid justify-content-lg-between align-items-center">
    <button class="blob-btn ms-3" routerLink="auth/login" *ngIf="!isLoggedIn">
      ورود/ثبت نام
      <span class="blob-btn__inner">
        <span class="blob-btn__blobs">
          <span class="blob-btn__blob"></span>
          <span class="blob-btn__blob"></span>
          <span class="blob-btn__blob"></span>
          <span class="blob-btn__blob"></span>
        </span>
      </span>
    </button>
    <button class="blob-btn ms-3" routerLink="profile" *ngIf="isLoggedIn">
        مشاهده پروفایل

      <span class="blob-btn__inner">
        <span class="blob-btn__blobs">
          <span class="blob-btn__blob"></span>
          <span class="blob-btn__blob"></span>
          <span class="blob-btn__blob"></span>
          <span class="blob-btn__blob"></span>
        </span>
      </span>
    </button>

    <div class="header-main__wrapper special-background d-none d-lg-block ">
      <ul class="nav justify-content-center align-items-center me-auto mb-2 mb-lg-0">
        <li class="nav-item ">
          <a class="nav-link" routerLink="/">صفحه اصلی </a>
        </li>
        <li class="nav-item ">
          <a class="nav-link" routerLink="/teacher">مربیان</a>
        </li>
        <li class="nav-item" *ngIf="!isLoggedIn" >
          <a class="nav-link" routerLink="/pools"> استخر ها</a>
        </li>
        <div class="btn-group" *ngIf="isLoggedIn" >
          <button type="button" class="btn btn-toggle dropdown-toggle px-lg-5 py-2 " data-bs-toggle="dropdown" aria-expanded="false">
            دوره ها
          </button>
          <ul class="dropdown-menu dropdown-menu-end w-150 ">
            <li><a class="dropdown-item py-3 fs-5 fw-bold" routerLink="/request-class">درخواست کلاس خصوصی</a></li>
            <li><a class="dropdown-item py-3 fs-5 fw-bold" routerLink="/pools"> استخر ها</a></li>
          </ul>
        </div>
        <div *ngIf="userStatus != null">
        <li class="nav-item" *ngIf=" userStatus !='teacher'  " >
          <a class="nav-link" routerLink="/teacher-form">فرم همکاری</a>
        </li>
      </div>
        <li class="nav-item ">
          <a class="nav-link" routerLink="/FAQ"> سوالات متداول</a>
        </li>
        <div class="btn-group" *ngIf="isLoggedIn" >
          <button type="button" class="btn btn-toggle dropdown-toggle px-lg-5 py-2 " data-bs-toggle="dropdown" aria-expanded="false">
              کلاس های من
          </button>
          <ul class="dropdown-menu dropdown-menu-end w-100 ">
            <li><a class="dropdown-item py-3 fs-5 fw-bold" routerLink="/private-class">لیست درخواست ها</a></li>
            <li><a class="dropdown-item py-3 fs-5 fw-bold" routerLink="/my-private-class">کلاس های خصوصی من</a></li>
          </ul>
        </div>
        <li class="nav-item ">
          <a class="nav-link" routerLink="/about-us" *ngIf="!isLoggedIn">درباره ما </a>
        </li>

      </ul>
    </div>
    <a class="navbar-brand fw-bold fs-1 text-white me-2" href=""><img src="../../../assets/images/logo/roday.png" alt="logo" class="logo" width="120"></a>
    <!-- <a (click)="onLogout()" routerLink="auth/login">lkjj</a> -->
    <div class="d-lg-none">
      <button class="responsive-btn" type="button" (click)="openSidebar()">
        <i class="bi bi-list"></i>
      </button>
    </div>
  </div>
</nav>

<!-- Sidebar Section -->
<div class="custom-sidebar" id="sidebar">
  <button class="close-btn" (click)="closeSidebar()" >×</button>
  <ul class="mt-5">
    <li><a routerLink="/" class="text-dark">صفحه اصلی</a></li>
    <li><a routerLink="/teacher" class="text-dark"> مربیان</a></li>
    <li><a routerLink="/teacher-form" class="text-dark"> فرم همکاری</a></li>
    <li><a routerLink="/pools" class="text-dark">استخر ها</a></li>
    <li *ngIf="!isLoggedIn"><a href="/about-us" class="text-dark" >درباره ما</a></li>
    <li><a routerLink="/FAQ" class="text-dark"> سوالات متداول</a></li>
    <li *ngIf="isLoggedIn"><a class="text-dark fw-bold" routerLink="/private-class" >  درخواست کلاس خصوصی</a></li>
    <li *ngIf="isLoggedIn"><a class="text-dark" routerLink="/my-private-class" >   لیست درخواست ها</a></li>
  </ul>
</div>
