<footer class="footer">
  <div class="waves">
    <div class="wave" id="wave1"></div>
    <div class="wave" id="wave2"></div>
    <div class="wave" id="wave3"></div>
    <div class="wave" id="wave4"></div>
  </div>
  <ul class="social-icon">
    <li class="social-icon__item"><a class="social-icon__link" href="#">
          <i class="bi bi-instagram"></i>
      </a></li>
    <li class="social-icon__item"><a class="social-icon__link" href="#">
      <i class="bi bi-whatsapp"></i>
      </a></li>
    <li class="social-icon__item"><a class="social-icon__link" href="#">
      <i class="bi bi-linkedin"></i>
      </a></li>
    <li class="social-icon__item"><a class="social-icon__link" href="#">
      <i class="bi bi-telegram"></i>
      </a></li>
  </ul>
  <ul class="menu">
    <li class="menu__item"><a class="menu__link fw-bold" routerLink="/">صفحه اصلی</a></li>
    <li class="menu__item"><a class="menu__link fw-bold" routerLink="/teacher">مربیان </a></li>
    <li class="menu__item"><a class="menu__link fw-bold" routerLink="/about-us">درباره ما </a></li>
    <li class="menu__item"><a class="menu__link fw-bold" routerLink="/teacher-form">فرم همکاری</a></li> 
    <li class="menu__item"><a class="menu__link fw-bold" routerLink="/pools">استخر ها</a></li>
    <li class="menu__item"><a class="menu__link fw-bold" routerLink="/FAQ"> سوالات متداول</a></li>
  </ul>
  <p>copyRight 2024/2025 &copy;</p>
</footer>