.circle {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: auto;
    font-size: 6rem;
    color: var(--white);
  }
  .circle-blue { background-color: #5bc0de; }
  .circle-orange { background-color: #f0ad4e; }
  .circle-green { background-color: #5cb85c; }
  .circle-purple { background-color: #6f42c1; }
  

section {
    margin-top: 150px;
}
p {
    font-size: 2.5rem;
    font-weight: bold;
}

.circle {
    width: 15rem;
    height: 15rem;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: auto;
    font-size: 6rem;
    color: var(--white);
  }
  .circle-blue { background-color: #5bc0de; }
  .circle-orange { background-color: #f0ad4e; }
  .circle-green { background-color: #5cb85c; }
  .circle-purple { background-color: #6f42c1; }
  

section {
    margin-top: 15rem;
}
p {
    font-size: 2.5rem;
    font-weight: bold;
} 
  /**** responsive ****/
 /* --- Medium devices (tablets, less than 992px) */
 @media (min-width: 768px) and (max-width: 991.98px) { 
    .circle {
        width: 13rem;
        height: 13rem;
    }
    p {
        font-size: 1.8rem;
        font-weight: bold;
    } 
    section {
        margin-top: 12rem;
    }
   }
  /* === Small devices (landscape phones, less than 768px) */
  @media (max-width: 767.98px) { 
    .circle {
        width: 10rem;
        height: 10rem;
    }
    p {
        font-size: 1.5rem;
        font-weight: bold;
    } 
    section {
        margin-top: 7rem;
    }
   }