<section>
    <div class="container">
        <!-- عنوان سمت راست -->
        <div class="row mb-4">
            <div class="col-12 text-start title">
                <h2>استخر ها</h2>
            </div>
        </div>

        <!-- کارت‌ها -->
        <div class="row">
            
            <div class="col-6 col-md-4 col-lg-3" *ngFor="let pool of allPools">
                <div class="hover-card">
                    <img [src]="pool.image" alt="{{ pool.name }}">
                    <div class="hover-overlay">
                        <div class="hover-content">
                            <h5>{{pool.name}}</h5>
                            <p>{{pool.address}}</p>
                            <a [routerLink]="['/pools']" routerLinkActive="router-link-active"  class="btn btn-readmore">اطلاعات بیشتر</a>
                        </div>
                    </div>
                </div>
            </div>
            <!-- <div class="col-6 col-md-4 col-lg-3">
                <div class="hover-card">
                    <img src="../../../assets/images/pool-example.jpg" alt="کارت 3">
                    <div class="hover-overlay">
                        <div class="hover-content">
                            <h5>عنوان کارت 3</h5>
                            <p>خلاصه اطلاعات کارت 3</p>
                            <a href="#" class="btn btn-readmore">اطلاعات بیشتر</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-6 col-md-4 col-lg-3">
                <div class="hover-card">
                    <img src="../../../assets/images/pool-example.jpg" alt="کارت 4">
                    <div class="hover-overlay">
                        <div class="hover-content">
                            <h5>عنوان کارت 4</h5>
                            <p>خلاصه اطلاعات کارت 4</p>
                            <a href="#" class="btn btn-readmore">اطلاعات بیشتر</a>
                        </div>
                    </div>
                </div>
            </div> -->
        </div>

        <!-- دکمه سمت چپ پایین -->
        <div class="row mt-4">
            <div class="col-12 text-end">
                <button class="blob-btn me-5">
                    دیدن استخر های بیشتر
                    <span class="blob-btn__inner">
                        <span class="blob-btn__blobs">
                            <span class="blob-btn__blob"></span>
                            <span class="blob-btn__blob"></span>
                            <span class="blob-btn__blob"></span>
                            <span class="blob-btn__blob"></span>
                        </span>
                    </span>
                </button>
            </div>
        </div>
    </div>

</section>