section{
  margin-bottom: 150px;
}
.teacher-list {
  margin-top: 200px;
 
}

/* تنظیمات کارت */
.e-card {
  margin: auto;
  background: transparent;
  box-shadow: 0px 8px 28px -9px rgba(0, 0, 0, 0.45);
  position: relative;
  width: 100%;
  max-width: 800px;
  height: 400px;
  border-radius: 16px;
  overflow: hidden;
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-around;
  align-items: center;
  border: 5px solid rgb(12, 78, 78);
  padding: 50px;
}

/* انیمیشن موج‌ها */
.wave {
  position: absolute;
  width: 540px;
  height: 700px;
  opacity: 0.6;
  right: 0;
  top: 0;
  margin-right: -20%;
  margin-top: -40%;
  background: linear-gradient(744deg, var(--dark-blue), var(--blue-main-navbar) 60%, var(--white));
  border-radius: 40%;
  animation: wave 55s infinite linear;
  z-index: 1;
}

.playing .wave:nth-child(2) {
  animation-duration: 4000ms;
}

.wave:nth-child(2) {
  animation-duration: 50s;
}

.playing .wave:nth-child(3) {
  animation-duration: 5000ms;
}

.wave:nth-child(3) {
  animation-duration: 45s;
}

@keyframes wave {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

/* تنظیمات محتوا */

/* تصویر گرد */
.card-image {
  height: 300px;
  border: 20px solid var(--white);
  z-index: 50;
}

.card-image img {
  width: 100%;
  height: 100%;
  border: 5px solid var(--white);
  z-index: 50;
}

.card-content {
  z-index: 50;
}
.pool-info {
  color: rgb(12 , 78 , 78);
}

/******** table section **************/
table {
    border-collapse: separate;
    border-spacing: 0 15px;
}
table th, table td {
    vertical-align: middle;
    text-align: center;
}
table td {
    background-color: var(--white);
    color: var(--black);
    padding: 20px 0;
    font-size: 1.3rem;
}
table td:hover {
  background-color: rgba(12 , 78 , 78 , .1);
}
table th {
    background-color: rgb(12 , 78 , 78);
    color: var(--white);
    padding: 30px 0;
    font-size: 1.7rem;
}
.pagination {
    justify-content: center;
}
.page-link {
  background-color: rgb(12 , 78 , 78);
    color: var(--white);
    border: 2px solid white;
    font-weight: bold;
}
.page-link:hover {
  cursor: pointer;
}
.table-wrapper {
  margin-top: 70px;
}


/**** Search Section ***/
.search {
  margin: 15px;
}

.search > h3 {
  font-weight: normal;
}

.search-box {
  display: inline-block;
  position: relative;
}

.search-box .icon {
  position: absolute;
  top: 50%;
  left: 10px;
  transform: translateY(-50%);
  color: rgb(12 , 78 , 78);
  font-size: 20px;
}

.search-box input {
  color: rgb(12 , 78 , 78);
  font-size: 16px;
  background: transparent;
  width: 0;
  height: 30px;
  padding: 10px;
  padding-left: 40px; /* فاصله از ذره‌بین */
  border: solid 3px rgb(12 , 78 , 78);
  outline: none;
  border-radius: 25px;
  transition: width 0.5s ease;
}

.search-box input::placeholder {
  color: var(--black);
  opacity: 0;
  transition: opacity 150ms ease-out;
}

.search-box input:focus::placeholder {
  opacity: 1;
}

.search-box input:focus,
.search-box input:not(:placeholder-shown) {
  width: 250px; /* اندازه‌ی باز شدن جستجو */
}

.search-box input:focus + .icon,
.search-box input:not(:placeholder-shown) + .icon {
  display: none; /* وقتی فیلد جستجو پر میشه ذره‌بین رو مخفی میکنه */
}

/** Title ***/
.title {
  font-size: 2.7rem;
  font-weight: bold;
  margin-bottom: 5px;
  color: rgba(12 , 78 , 78 , .8);
}
/********** select ***********/
.sort-select {
  margin: 20px;
  padding: 5px;
  font-size: 16px;
  border-radius: 25px;
  border: solid 3px rgb(12 , 78 , 78);
  background: transparent;
  color: rgb(12 , 78 , 78);
  transition: all 0.3s ease;
}


/**** responsive ****/

/* === Small devices (landscape phones, less than 768px) */

@media (max-width: 768px) { 
  /* table */
  .table th,
  .table td {
    font-size: 0.9rem; /* کوچک‌تر کردن فونت */
    padding: 8px 5px; /* افزایش فاصله داخلی */
    white-space: nowrap; /* جلوگیری از شکستن متن */
  }

  .table-responsive {
    overflow-x: auto; /* فعال کردن اسکرول افقی */
  }

  .table-wrapper {
    margin-top: 20px; /* کاهش فاصله بالا */
    padding: 0 10px; /* افزودن فضای داخلی */
  }

  .search-box input {
    width: 100px;
  }
  .search-box input:focus,
  .search-box input:not(:placeholder-shown) {
  width: 180px; /* اندازه‌ی باز شدن جستجو */
  }
  .title {
    font-size: 1.8rem;
    margin-top: 10px;
  }

  .pagination {
    font-size: 0.8rem;
  }
  /* card */
  .e-card {
    flex-direction: column; /* تغییر جهت چیدمان کارت */
    height: auto; /* ارتفاع کارت برای موبایل خودکار باشد */
    padding: 20px; /* کاهش padding برای موبایل */
    width: 90%;
    
  }
  .card-image {
    height: 250px; /* کاهش ارتفاع تصویر */
  }
  
  .pool-name {
    font-size: 1.5rem; /* کاهش اندازه فونت برای موبایل */
  }
  .text {
    font-size: 1rem; /* کاهش اندازه فونت توضیحات */
  }
  .card-content {
    text-align: center; /* تنظیم متن برای موبایل */
    width: 100%;
    align-items: center;
  }
 }


/* --- Medium devices (tablets, less than 992px) */
@media (min-width: 768px) and (max-width: 991.98px) { 
  .table-wrapper {
    margin-top: 20px;
  }

  .title {
    font-size: 2.3rem;
  }

  .search-box input {
    width: 130px;
  }

  .pagination {
    font-size: 0.7rem;
  }
  /* card */
  .e-card {
    flex-direction: column; /* تغییر جهت چیدمان کارت */
    height: auto; /* ارتفاع کارت برای موبایل خودکار باشد */
    padding: 20px; /* کاهش padding برای موبایل */
    width: 70%;
    
  }
  .card-image {
    height: 250px; /* کاهش ارتفاع تصویر */
  }
  
  .pool-name {
    font-size: 1.5rem; /* کاهش اندازه فونت برای موبایل */
  }
  .text {
    font-size: 1rem; /* کاهش اندازه فونت توضیحات */
  }
  .card-content {
    text-align: center; /* تنظیم متن برای موبایل */
    width: 100%;
    align-items: center;
  }
 

 }

 @media (min-width: 900px) and (max-width: 1200px) { 
  .teacher-list {
    margin-top: 150px;
  }
}


















 
