<div class="container teacher-list">
  <div class="row mb-4">
    <div class="col-12 text-start title">
        <h2>استاد ها</h2>
    </div>
</div>
  
  
  <div class="row justify-content-center">
    <!-- ردیف دوم (کارت‌ها) -->
    <div class="col-lg-4 col-md-6 col-6 mb-4" *ngFor="let teacher of teacherList">
      <div class="e-card playing">
        <div class="wave"></div>
        <div class="wave"></div>
        <div class="wave"></div>
        <div class="content">
          
          <div class="rate">
            
            
            <span  *ngFor="let star of stars; let i = index"
            [class.filled]="i < teacher.average_rate">
              ★
            </span>
          </div>
          
          <img [src]="teacher.image" alt="{{teacher.last_name}}" class="profile-img mb-3 img-fluid">
          <p class="text my-3">{{teacher.first_name}}&nbsp;{{teacher.last_name}}</p>
          <button class="btn btn-detail px-5 fw-bold py-2" [routerLink]="['/teacher', teacher.id, 'details']">مشاهده جزییات</button>
        </div>
      </div>
    </div>
  </div>
   
  
  
  <!-- دکمه سمت چپ پایین -->
  <div class="row mt-lg-5 mt-md-2">
    <div class="col-12 text-end">
        <button class="blob-btn me-5" routerLink="/teacher">
            دیدن همه استاد ها
            <span class="blob-btn__inner">
                <span class="blob-btn__blobs">
                    <span class="blob-btn__blob"></span>
                    <span class="blob-btn__blob"></span>
                    <span class="blob-btn__blob"></span>
                    <span class="blob-btn__blob"></span>
                </span>
            </span>
        </button>
    </div> 
</div>
</div>
