<section>
  <div class="container">
      <!-- عنوان سمت راست -->
      <div class="row mb-4">
          <div class="col-12 text-start title">
              <h2>استاد ها</h2>
          </div>
      </div>

      <!-- کارت‌ها -->
      <div class="row justify-content-center">
        <div class="col-4">
          <div class="card testimonial-card">
            <div class="layer"></div>
            <div class="content">
              <div class="image my-5">
                <img class="img-fluid" src="../../../assets/images/blonde-boy-blue-hoodie_1308-175828.jpg" alt="avatar">
              </div>
              <div class="details">
                <h2 class="pb-3">استاد1</h2>
                <a class="see-about-teacher">مشاهده جزییات این استاد</a>
              </div>
            </div>
          </div>
        </div>
        <div class="col-4">
          <div class="card testimonial-card">
            <div class="layer"></div>
            <div class="content">
              <div class="image my-5">
                <img class="img-fluid" src="../../../assets/images/blonde-boy-blue-hoodie_1308-175828.jpg" alt="avatar">
              </div>
              <div class="details">
                <h2 class="pb-3">استاد1</h2>
                <a class="see-about-teacher">مشاهده جزییات این استاد</a>
              </div>
            </div>
          </div>
        </div>
        <div class="col-4">
          <div class="card testimonial-card">
            <div class="layer"></div>
            <div class="content">
              <div class="image my-5">
                <img class="img-fluid" src="../../../assets/images/blonde-boy-blue-hoodie_1308-175828.jpg" alt="avatar">
              </div>
              <div class="details">
                <h2 class="pb-3">استاد1</h2>
                <a class="see-about-teacher">مشاهده جزییات این استاد</a>
              </div>
            </div>
          </div>
        </div>
      </div>

      <!-- دکمه سمت چپ پایین -->
      <div class="row mt-5">
          <div class="col-12 text-end">
              <button class="blob-btn me-5">
                  دیدن همه استاد ها
                  <span class="blob-btn__inner">
                      <span class="blob-btn__blobs">
                          <span class="blob-btn__blob"></span>
                          <span class="blob-btn__blob"></span>
                          <span class="blob-btn__blob"></span>
                          <span class="blob-btn__blob"></span>
                      </span>
                  </span>
              </button>
          </div>
      </div>
  </div>

</section>