<section>
    <div class="container justify-content-center align-items-center">
        <!-- عنوان سمت راست -->
        <div class="row mb-4">
            <div class="col-12 text-start title">
                <h2>دوره ها</h2>
            </div>
        </div>

        <!-- کارت‌ها -->
        <div class="row ms-lg-0 ms-md-5">
            <div class="col-md-6 col-lg-3 col-6">
                <div class="hover-card">
                    <img src="../../../assets/images/course-example.jpg" alt="کارت 1">
                    <div class="hover-overlay">
                        <div class="hover-content">
                            <h5 class="fw-bold fs-3">عنوان کارت 1</h5>
                            <p class="fw-bold fs-3 text-dark">خلاصه اطلاعات کارت 1</p>
                            <a href="#" class="btn btn-readmore">اطلاعات بیشتر</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-lg-3 col-6">
                <div class="hover-card">
                    <img src="../../../assets/images/course-example.jpg" alt="کارت 1">
                    <div class="hover-overlay">
                        <div class="hover-content">
                            <h5 class="fw-bold fs-3">عنوان کارت 1</h5>
                            <p class="fw-bold fs-3 text-dark">خلاصه اطلاعات کارت 1</p>
                            <a href="#" class="btn btn-readmore">اطلاعات بیشتر</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-lg-3 col-6">
                <div class="hover-card">
                    <img src="../../../assets/images/course-example.jpg" alt="کارت 1">
                    <div class="hover-overlay">
                        <div class="hover-content">
                            <h5 class="fw-bold fs-3">عنوان کارت 1</h5>
                            <p class="fw-bold fs-3 text-dark">خلاصه اطلاعات کارت 1</p>
                            <a href="#" class="btn btn-readmore">اطلاعات بیشتر</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-lg-3 col-6">
                <div class="hover-card">
                    <img src="../../../assets/images/course-example.jpg" alt="کارت 1">
                    <div class="hover-overlay">
                        <div class="hover-content">
                            <h5 class="fw-bold fs-3">عنوان کارت 1</h5>
                            <p class="fw-bold fs-3 text-dark">خلاصه اطلاعات کارت 1</p>
                            <a href="#" class="btn btn-readmore">اطلاعات بیشتر</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- دکمه سمت چپ پایین -->
        <div class="row mt-4">
            <div class="col-12 text-end">
                <button class="blob-btn me-5">
                    دیدن دوره های بیشتر
                    <span class="blob-btn__inner">
                        <span class="blob-btn__blobs">
                            <span class="blob-btn__blob"></span>
                            <span class="blob-btn__blob"></span>
                            <span class="blob-btn__blob"></span>
                            <span class="blob-btn__blob"></span>
                        </span>
                    </span>
                </button>
            </div>
        </div>
    </div>

</section> 