<div class="container form-container d-flex justify-content-center align-items-center">
  <div class="row g-0">
    <div class="col-lg-6 form-image d-none d-lg-block">
      <img src="../../../assets/images/pexels-photo-11866177.jpeg" class="img-fluid">
    </div>
    <div class="col-lg-6 form-content ">
      <div class="form-header">
        <h2 class="fw-bold fs-1 title-login mb-5">بازیابی رمز</h2>
        <a href="#" class="back-to-home mb-5">
          <i class="bi bi-house-door-fill"></i>
        </a>
      </div>
      <div class="container">
        <h2>بازیابی رمز عبور</h2>
      
        <!-- مرحله ۱: دریافت شماره تلفن -->
        <div *ngIf="step === 1">
          <label class="form-label fs-5">شماره تلفن:</label>
          <input type="text" [(ngModel)]="phone" placeholder="شماره تلفن خود را وارد کنید" class="form-control">
          <button (click)="sendRecoveryCode()" class="btn-forget w-100 fs-5 py-1 px-3 mb-5 mt-4">ارسال کد بازیابی</button>
        </div>
      
        <!-- مرحله ۲: تایید کد بازیابی -->
        <div *ngIf="step === 2">
          <label class="form-label fs-5">کد بازیابی:</label>
          <input type="text" [(ngModel)]="recoveryCode" placeholder="کد بازیابی را وارد کنید" class="form-control">
          <button (click)="verifyRecoveryCode()" class="btn-forget w-100 fs-5 py-1 px-3 mb-5 mt-4">تایید کد</button>
        </div>
      
        <!-- مرحله ۳: تنظیم رمز عبور جدید -->
        <div *ngIf="step === 3">
          <label class="form-label fs-5">رمز عبور جدید:</label>
          <input type="password" [(ngModel)]="newPassword" placeholder="رمز عبور جدید خود را وارد کنید" class="form-control">
          <button (click)="resetPassword()" class="btn-forget w-100 fs-5 py-1 px-3 mb-5 mt-4">تغییر رمز عبور</button>
        </div>
      </div>
      
      <div class="options d-flex justify-content-between align-items-center my-5">
        <a routerLink="/auth/login" class="options-item fs-5 fw-bold">بازگشت به صفحه ورود</a>
      </div>


    </div>
  </div>
</div>





